<div class="comment-input">
    <form>
  <div class="form-group forms">
    <label class="title-text" for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Leave your title here...">
  </div>
  <div class="form-group forms">
    <label class="title-text" for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
  <button class="btn btn-sm btn-primary">Submit</button>
</form>

</div>