<div class="no-new-content">
    <div class="nonew">
        <h4>Looks like we dont have any new articles</h4>
    </div>

    <div class="todo">
        <p>What would you like to do?</p>
    </div>

    <div class="task">
        <h4>
            <a href="">Try Scraping New Articles</a>
        </h4>
        <h4>
            <a href="saved">Go To Saved Articles</a>
        </h4>
    </div>
</div>