<div class="new-content">
   
    {{#each articles}}
    {{#unless saved }}
    <div class="card news-card">
        <div class="empty">
            
        </div>
        <div class="card-body">
            <a class="card-title" href="{{link}}">
                {{title}}</a>
            
            <a class="btn btn-sm btn-primary save-btn" href="/saved">Save</a>
        </div>
    </div>

    {{/unless }}
    {{/each }}

</div>

{{!-- <div class="no-new-content">
    <div class="nonew">
        <h4>Looks like we dont have any new articles</h4>
    </div>

    <div class="todo">
        <p>What would you like to do?</p>
    </div>

    <div class="task">
        <h4>
            <a href="">Try Scraping New Articles</a>
        </h4>
        <h4>
            <a href="saved">Go To Saved Articles</a>
        </h4>
    </div>
</div> --}}