<div class="new-content">
    
    {{#each articles}}
    {{#if saved }}
    <div class="card news-card">
        <div class="empty">
            
        </div>
        <div class="card-body">
            <a class="card-title" href="{{link}}">
                {{title}}</a>
            {{!-- <a class="card-text" href="">Link</a> --}}
            <button value={{this._id}} class="btn btn-sm btn-primary delete-btn">Delete</button>
             <button><a class="btn btn-sm btn-primary comment-btn" href="/comment">Comment</a></button>
        </div>
    </div>

    {{/if }}
    {{/each }}

</div>